<header class="header header-fixed navbar">
  <div class="brand">
    <a href="javascript:;" class="ti-menu off-left visible-xs" data-toggle="offscreen" data-move="ltr"></a>

    <a href="/" class="navbar-brand">
      <img src="/assets/logo.jpg" alt="home" title="home" width="30" height="30">
    </a>
  </div>

  <%= render partial: 'layouts/locale_selector' %>
</header>